

            <div title="ELIMINA" style="padding:10px">
            
          <fieldset>
          
            <div style="text-align:left;padding:15px 0">
            <font color="red">

            
            <h2><center> Stai cancellando definitivamente il record dal flusso :
            <cobol>FLUSSO-DELETE</cobol>
            <div style="text-align:left;padding:15px 0">
            <fieldset>
            <center>
            
            <h2><center> Chiave :
            
            <cobol>CHIAVE-DELETE</cobol>
            </H2>
            
            </center>
            </fieldset>
            </div>
            </center></h2>

            </font>            
          </div>
                      
         </fieldset>

        
            </div>
			
            <center>
            

            <button class="easyui-linkbutton"  
            onclick="return confirm('Confermi la CANCELLAZIONE dei dati?')" 
            type="submit" 
            data-options="iconCls:'icon-cut'" 
            style="padding:5px 0px;width:15%; margin-left:20px">Elimina</button>
			
			<cobol>GOBACK</cobol>
                    
            </center>
            