<!DOCTYPE html>
<html>  
  <head>         
    <meta charset="UTF-8">         
    <title>Elenco funzioni
    </title>             
    <link rel="stylesheet" type="text/css" href="/openpa/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/openpa/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/openpa/easyui/demo/demo.css">
    <script type="text/javascript" src="/openpa/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/openpa/easyui/jquery.easyui.min.js"></script>



</head>  
    <body>
        <!-- <div id="w" class="easyui-window" title="Elenco opzioni disponibili OpenPA" data-options="iconCls:'icon-large_chart',collapsible:false, closable:false, minimizable:false" style="width:100%;height:800px;padding:10px;"> -->
        <div id="w" class="easyui-panel" title="Elenco opzioni disponibili OpenPA" data-options="iconCls:'icon-more',collapsible:false,minimizable:false,modal:true,maximizable:true"
		    style="width:'100%';height:'100%';padding:20px;"> 
       
                
     
    <div>


        <input class="easyui-textbox" label="Ente" iconWidth="28" style="width:45%;height:34px;padding:10px;" data-options="disabled:true, value:
        @DESC-ENTE@
        ">
        <input class="easyui-textbox" label="Utente" iconWidth="28" style="width:20%;height:34px;padding:10px;" data-options="disabled:true, value:
         @UTENTE@
         ,labelAlign:'center'">
        <input class="easyui-textbox" label="Accesso" iconWidth="28" style="width:15%;height:34px;padding:10px;" data-options="disabled:true, value:
         @OGGI@
         ,labelAlign:'center'">

        <input class="easyui-textbox" label="Scadenza sessione" iconWidth="28" style="width:15%;height:34px;padding:10px;" data-options="disabled:true, value:
         @SCADENZA@
         ,labelAlign:'center'">


        </div>

       
        <div style="margin:20px 0;"></div>
        <div class="easyui-panel" style="padding:5px;">
@MENUTA   <a href="#" class="easyui-menubutton" data-options="menu:'#mm1',iconCls:'icon-edit',disabled:false">Tabelle Parametri</a>
@MENUAN   <a href="#" class="easyui-menubutton" data-options="menu:'#mm2',iconCls:'icon-man' ,disabled:false">Anagrafiche</a>
@MENUCA   <a href="#" class="easyui-menubutton" data-options="menu:'#mm2',iconCls:'icon-sum' ,disabled:false">Cartellino</a>
@MENUST   <a href="#" class="easyui-menubutton" data-options="menu:'#mm2',iconCls:'icon-help',disabled:false">Statistiche</a>
@MENUSE   <a href="#" class="easyui-menubutton" data-options="menu:'#mm2',iconCls:'icon-tipo',disabled:false">Servizio</a>

        </div>
        


 <div id="mm1" style="width:300px;">

@LOADTA
            
 </div>

        
 <div id="mm2" style="width:300px;">

@LOADCA
            
 </div>
 
<!--  <div id="mm3" style="width:300px;">

@LOADCA
            
 </div>
 
 <div id="mm4" style="width:300px;">

@LOADST
            
 </div>
 
 <div id="mm5" style="width:300px;">

@LOADSE
            
 </div>
  -->
 
     
    
    </div> 
    </body>
</html>