<!DOCTYPE html>
<html>  
  <head>         
    <meta charset="UTF-8">         
    <title>Elimina tabelle
    </title>             
    <link rel="stylesheet" type="text/css" href="/openpa/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/openpa/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/openpa/easyui/demo/demo.css">
    <script type="text/javascript" src="/openpa/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/openpa/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/openpa/easyui/locale/easyui-lang-it.js"></script>


<script type="text/javascript">
    $(function(){
    $('#open_form').on('submit', function(e){

    if ($(this).form('validate')){
     return true;
     }
        return false;
    })
    })
</script>



</head>  
        <body>
    
        <form id="open_form" name="open_form" method="post" action="/cgi-open/opendele.exe?MK-KEY=<cobol>SECTION-WEB</cobol>&MK-ITEM=<cobol>MK-ITEM</cobol>&MK-FILE=<cobol>MK-FILE</cobol>">
        

        <div id="w" class="easyui-panel" title="Conferma cancellazione" 
             data-options="iconCls:'icon-edit',collapsible:false,closable:false,minimizable:false,maximizable:true"
		     style="width:100%;height:105%;padding:20px;"> 
       
     <cobol include=template/intesta.htm></cobol>
                     
       
        <div style="margin:20px 0;"></div>


            <div title="ELIMINA" style="padding:10px">
            
          <fieldset>
          
            <div style="text-align:left;padding:15px 0">
            <font color="red">

            
            <h2><center> Stai cancellando definitivamente il record dal flusso :
            <cobol>FLUSSO-DELETE</cobol>
            <div style="text-align:left;padding:15px 0">
            <fieldset>
            <center>
            
            <h2><center> Chiave :
            
            <cobol>CHIAVE-DELETE</cobol>
            </H2>
            
            </center>
            </fieldset>
            </div>
            </center></h2>

            </font>            
          </div>
                      
         </fieldset>

        
            </div>
			
			

            <input name="MK-KEY" size="1" style="visibility: hidden" value=
            '<cobol>SECTION-WEB</cobol>'
            >                                                                                                             
       
            
            <div style="text-align:center;padding:15px 0">

             
            <button class="easyui-linkbutton"  
            onclick="return confirm('Confermi la CANCELLAZIONE dei dati?')" 
            type="submit" 
            data-options="iconCls:'icon-cancel'" 
            style="padding:5px 0px;width:15%; margin-left:20px">Elimina</button>
			
			 <cobol>GOBACK</cobol>
               
            
     </div>
       
        </form> 
      
        </body>
        </html>
   
       