<!DOCTYPE html>
 <!--                   VERSIONE 1.0.4         -->
<html>  
  <head>         
    <meta charset="UTF-8">         
    <title>Archivio voci
    </title>             
    <link rel="stylesheet" type="text/css" href="/openpa/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/openpa/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/openpa/easyui/demo/demo.css">
    <script type="text/javascript" src="/openpa/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/openpa/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/openpa/easyui/locale/easyui-lang-it.js"></script>


<script type="text/javascript">
    $(function(){
    $('#open_form').on('submit', function(e){

    if ($(this).form('validate')){
     return true;
     }
        return false;
    })
    })
</script>



</head>  
        <body>
    
        <form id="open_form" name="open_form" method="post" action="/cgi-open/openreca.exe">
        

        <div id="w" class="easyui-panel" title="Tabella causali"
             data-options="iconCls:'icon-edit',collapsible:false,closable:false,minimizable:false,maximizable:true"
		     style="width:100%;height:105%;padding:20px;"> 
        
        <cobol include=template/intesta.htm></cobol>
      
         <div style="margin:20px 0;"></div>
         <div style="margin:20px 0 10px 0;"></div>
         
        <!-- <div class="easyui-accordion" style="width:'98%';height:500px;">  -->
        <div title="Configurazione" data-options="iconCls:'icon-configura'" style="overflow:auto;padding:10px;">
           
           <font color="blue">
          <fieldset>
          <legend> <font color="red">Dati generali </legend></font>
            <div style="text-align:left;padding:10px 0">
            
            <input class="easyui-textbox" label="Descrizione" name="DESC-CAUS" prompt="descrizione causale" style="width:70%;height:34px;padding:10px;" data-options="labelWidth:'20%',required:true,missingMessage:'Campo obbligatorio' ,value:
            '<cobol>DESC-CAUS'<cobol>
            ">

            <a href="#" class="easyui-tooltip" title="Indicare una sigla breve per esposizione su cartellino ">            
            <input class="easyui-textbox" label="&nbsp;Sigla" name="SIGLA-CAUS" prompt="sigla causale" style="width:200PX;height:34px;padding:10px;" data-options="labelWidth:'30%',required:true,missingMessage:'Campo obbligatorio' ,value:
            '<cobol>SIGLA-CAUS'<cobol>
            "></a>            
            
            </div>
            </fieldset>
            </font>


          <font color="blue">
          <fieldset>
          <legend> <font color="red">Tipo causale</legend></font>
            <p></p>
            
        <div style="margin-bottom:10px;margin-left:30px">

 <strong>         
        <a href="#" class="easyui-tooltip" title="Indicare il tipo della causale ">                    
        <input class="easyui-radiobutton" name="TIPO-CAUS" value="1" width="150px" labelWidth="150px,required:true,missingMessage:'Campo obbligatorio',validType:'checked[\'#TIPO-CAUS\']'"
            '<cobol>TIPO-CAUS1'<cobol>
            label="Assenza"></a>
          </strong>   
            </div>
            <div style="margin-bottom:10px; margin-left:30px ">
     <strong>
        <input class="easyui-radiobutton" name="TIPO-CAUS" value="2" width="150px" labelWidth="150px,required:true,missingMessage:'Campo obbligatorio',validType:'checked[\'#TIPO-CAUS\']'"
            '<cobol>TIPO-CAUS2'<cobol>        
         label="Presenza">  </strong>
                     </diV>
            <div style="margin-bottom:10px; margin-left:30px ">

     <strong>
        <input class="easyui-radiobutton" name="TIPO-CAUS" value="4"  width="150px" labelWidth="150px,required:true,missingMessage:'Campo obbligatorio',validType:'checked[\'#TIPO-CAUS\']'"
            '<cobol>TIPO-CAUS4'<cobol>        
         label="Figurativa">
          </strong>
          <p>Le causali figurative sono utilizzate per collegare i calcoli di una voce di indennità
          ad uno specifio codice voce. Tutti i flag eventualmente indicati non assumono alcun significato
          in quanto la loro gestione e' completamente a carico degli algoritmi del software

         </p>
        
            </div>
          
            
            
            </fieldset>
            </font>


          <font color="blue">
          
          
          <fieldset>
          <legend> <font color="red">Categoria causale</legend></font>
            <!-- <div style="text-align:left;padding:10px 0"> -->
            <div style="margin-bottom:10px; margin-left:30px ">        
        <p>questa sezione  introduce i soli elementi di base della causale. In assenza di altri parametri valgono quelli standar per la cateriga assegnata
            che possiamo riassumere come segue:<br></p>
                
        
        <div style="margin-bottom:10px ">
        
        
        <div>
        <strong>
        <a href="#" class="easyui-tooltip" title="Natura causale lavoro ordinario">                    
        <input class="easyui-radiobutton" name="NATURA-CAUS" value="1" width="100px" labelWidth="150px"
             $NATURA-CAUS1$
            label="Lavoro ordinario"> </a>
        </strong>
        <p>le ore lavorate fatte nel profilo del dipendente vengono conteggiate senza alcuna 
            ripartizione di orario ossia sono sempre considerate diurne la causale deve iniziare in entrata
            e terminare in uscita. L'Uscita puo' avvenire anche il giorno seguente con altra causale di straordinario
            o con la medesima. Le ore concorrono a formare il lavorato del dipendente. Qualora il profilo sia libero
            sono tutte conteggiate a concorrenza del dovuto (giornaliero o settimana o mensile a seconda dei criteri del profilo)
         </p>
        
        </div>
    <div>
    <strong>
        <input class="easyui-radiobutton" name="NATURA-CAUS" value="2" width="100px" labelWidth="150px"
             $NATURA-CAUS2$     
         label="Straordinario"> 
         </strong>
         <p>le ore lavorate fatte nel profilo del dipendente vengono conteggiate sempre
            con ripartizione di orario (diurno notturno festivo festivo notturno.
            L'Uscita puo' avvenire anche il giorno seguente con la medesima causale
            Le ore concorrono sono conteggite nel contatore di straordinario del dipendente e della causale.
            La causale ammette la sequenza ENTRATA e USCITA oppure entrata prima per uscita dopo per...
          </p>
    
    </div>
    
    <div>
    <strong>
        <input class="easyui-radiobutton" name="NATURA-CAUS" value="3"  width="100px" labelWidth="150px"
             $NATURA-CAUS3$   
         label="Ferie">
         </strong>
             <p>le giornate vengono contabilizzate nella sezione delle ferie, sono contabilizzate le solo giornate di presenza orario da profilo </p>
    
    </div>    
    
    <div>
    <strong>
           <a href="#" class="easyui-tooltip" title="Natura causale MALATTIA">                    
        <input class="easyui-radiobutton" name="NATURA-CAUS" value="4" width="100px" labelWidth="150px"
             $NATURA-CAUS4$
            label="Malattia"></a>
            </strong>
            <p>le giornate vengono contabilizzate in malattia ,sono contabilizzate tutte le giornate di calendario </p>
            </div>
            </div>
           
            </div>
          

    <div>
    <div style="margin-bottom:10px; margin-left:30px ">
    <strong>
        <input class="easyui-radiobutton" name="NATURA-CAUS" value="5" width="100px" labelWidth="150px"
             $NATURA-CAUS5$     
         label="Trasferta"> 
         </strong>
                  <p>le giornate vengono contabilizzate nel lavorato, sono contabilizzate le solo giornate di presenza orario da profilo </p>
    
    </div>
    
    <div>
    
                 <div style="margin-bottom:10px; margin-left:30px ">
           <strong>      
        <input class="easyui-radiobutton" name="NATURA-CAUS" value="6" width="100px" labelWidth="150px"
             $NATURA-CAUS6$     
         label="Sciopero"> 
         </strong>
        <p>le giornate vengono contabilizzate nel lavorato, sono contabilizzate le solo giornate di presenza orario da profilo 
            la decurtazione avviene sulla busta paga lato economico
        </p>
    </div>
    <div>
    <div style="margin-bottom:10px; margin-left:30px ">
    <strong>
        <input class="easyui-radiobutton" name="NATURA-CAUS" value="7"  width="100px" labelWidth="150px"
             $NATURA-CAUS7$   
         label="Altro">
     </strong>    
         <p>le giornate vengono contabilizzate nel lavorato, sono contabilizzate le solo giornate di presenza orario da profilo 
         
        </p>
         
     </div>
 
            </fieldset>
            
             <fieldset>
             <legend> <font color="red">Tipo ripartizione orario </legend></font>
             <p></p>
             
             <div style="margin-bottom:10px; margin-left:30px ">

             <strong>

         <input class="easyui-radiobutton" name="RIP-CONT-CAUS" value="2" width="300px" labelWidth="400px"
             $RIP-CONT-CAUS1$     
         label="La causale e' di assenza">     </strong>

            </div>
             
             <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>

         <input class="easyui-radiobutton" name="RIP-CONT-CAUS" value="2" width="300px" labelWidth="400px"
             $RIP-CONT-CAUS2$     
         label="Nessuna ripartizione">     </strong>

            </div>
            
            <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>

         <input class="easyui-radiobutton" name="RIP-CONT-CAUS" value="3" width="300px" labelWidth="400px"
             $RIP-CONT-CAUS3$     
         label="Ripartizione in feriale,notturno,festivo+notturno">     </strong>

            </div>
            
            <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>

         <input class="easyui-radiobutton" name="RIP-CONT-CAUS" value="4" width="300px" labelWidth="400px"
             $RIP-CONT-CAUS4$     
         label="Ripartizione solo su indennita'">     </strong>

            </div>
            
            </font>
        </div>
        
        <div title="Parametri di PRESENZA" data-options="iconCls:'icon-man2'" style="padding:10px;">
       <font color="blue">
            <fieldset>
           
            <legend> <font color="red">Tipo conteggio causali in PRESENZA </legend></font>
             

         <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>

         <input class="easyui-radiobutton" name="TIPO-CONT-CAUS" value="1" width="300px" labelWidth="300px"
             $TIPO-CONT-CAUS1$     
         label="La causale e' di assenza">     </strong>

            </div>

         <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="TIPO-CONT-CAUS" value="2" width="300px" labelWidth="300px"
             $TIPO-CONT-CAUS2$     
         label="Tipo USCITA e ENTRATA">  </strong>
            
            <p>il tipo conteggio prevede che la causale inizi per USCITA e poi  termini in ENTRATA
            esempio: si esce per permesso e poi si rientra.
            E' altresì possibile che si entri direttamente dopo l'orario da profilo in questo caso la causale si
            intende come entra dopo da ...(esempio si entra dopo da servizio). In questo caso da quando si sarebbe
            dovuti entrare alla entrata effettivamente rilevata viene contabilizzato tutto a questa causale.
            Inoltre e'  possibile che si esca prima dell'orario da profilo in questo caso la causale si
            intende come da quando si esce alla uscita teoria  ...(esempio si esce per servizio e non si rientra). 
            In questo caso da quando si esce alla ucita da profilo  viene contabilizzato tutto a questa causale.
            
            </p>         
            </div>
            
            
             <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="TIPO-CONT-CAUS" value="3" width="300px" labelWidth="300px"
             $TIPO-CONT-CAUS3$     
         label="Coppia ENTRATA e USCITA">  </strong>
            
            <p>il tipo conteggio prevede che la causale inizi per ENTRATA e poi termini in USCITA
            
            </p>         
            </div>
           
            <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="TIPO-CONT-CAUS" value="4" width="300px" labelWidth="300px"
             $TIPO-CONT-CAUS4$     
         label="Tipo ENTRATA e USCITA">  </strong>
            
            <p>il tipo conteggio prevede che la causale inizi per ENTRATA e poi  termini in USCITA
            esempio: si entra prima per straordinario o si esce dopo per straordinario .
            E' altresì possibile che si entri prima l'orario da profilo in questo caso la causale si
            intende come entra prima da ...(esempio si entra prima per straordinario). In questo caso dall'entrata effettivamente rilevata 
            a quando si sarebbe dovuti entrare viene contabilizzato tutto a questa causale.
            Inoltre e'  possibile che si esca dopo dell'orario da profilo in questo caso la causale si
            intende come dall'uscita teorica da profilo a quella rilevata dalla timbratura  ...(esempio si esce dopo l'orario di lavoro). 
            In questo caso dall'uscita da profilo a quando si esce effettivamente  viene contabilizzato tutto a questa causale.
            
            </p>         
            </div>
            
            <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="TIPO-CONT-CAUS" value="5" width="300px" labelWidth="300px"
             $TIPO-CONT-CAUS5$     
         label="Conteggio da complementare">  </strong>
            
            <p>il tipo conteggio prevede l'inserimento del valore orario della causale nella tabella complementare
            
            </p>         
            </div>
            </fieldset>
            
            <fieldset>
            <legend> <font color="red">Tipo contatore orario </legend></font>
            <p></p>
                   <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="CONSIDERA-CAUS" value="1" width="300px" labelWidth="320px"
             $CONSIDERA-CAUS1$     
         label="La causale e' di assenza">  </strong>
                 
            </div>
            
              <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="CONSIDERA-CAUS" value="2" width="300px" labelWidth="320px"
             $CONSIDERA-CAUS2$     
         label="Esclusione dalle ore normali di lavoro">  </strong>
                 <p>i conteggi delle timbrature con la causale vengono escluse dalle ore lavorative</p>
            </div>
            
            <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="CONSIDERA-CAUS" value="3" width="300px" labelWidth="320px"
             $CONSIDERA-CAUS3$     
         label="Somma nelle ore normali di lavoro">  </strong>
                 <p>i conteggi delle timbrature con la causale vengono sommate nelle ore lavorative</p>
            </div>
            
            <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="CONSIDERA-CAUS" value="4" width="300px" labelWidth="320px"
             $CONSIDERA-CAUS4$     
         label="Sottrae dalle ore normali di lavoro">  </strong>
                 <p>i conteggi delle timbrature con la causale vengono sottratte dalle ore lavorative</p>
            </div>
            
            </fieldset>
            </font>
        
            
        </div>
        <div title="Parametri di ASSENZA" data-options="iconCls:'icon-man1'" style="padding:10px;">   
         <font color="blue">
            <fieldset>
           
            <legend> <font color="red">Conteggi su festivo</legend></font>
             

         <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>

         <input class="easyui-radiobutton" name="TRAT-FEST-CAUS" value="1" width="300px" labelWidth="340px"
             $TRAT-FEST-CAUS1$     
         label="La causale e' di presenza">     </strong>

            </div>

         <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="TRAT-FEST-CAUS" value="2" width="300px" labelWidth="340px"
             $TRAT-FEST-CAUS2$     
         label="Non considera conteggio ore e giorni">  </strong>
            
            <p>ad esempio le Ferie</p>         
            </div>
            
            
             <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="TRAT-FEST-CAUS" value="3" width="300px" labelWidth="340px"
             $TRAT-FEST-CAUS3$     
         label="Considera giorni e conteggio orario">  </strong>
            
            <p>ad esempio la malattia di turnista su giorno festivo coincidente con riposo...</p>         
            </div>
           
            <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="TRAT-FEST-CAUS" value="4" width="300px" labelWidth="340px"
             $TRAT-FEST-CAUS4$     
         label="Considera solo conteggio giorno assenza">  </strong>
            
            <p>ad esempio aspettativa per malattia</p>         
            </div>
            
            </fieldset>
            
            <fieldset>
            <legend> <font color="red">Valore assenza</legend></font>
            <p></p>
                   <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="VAL-ASS-CAUS" value="1" width="300px" labelWidth="320px"
             $VAL-ASS-CAUS1$     
         label="La causale e' di presenza">  </strong>
                 
            </div>
            
              <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="VAL-ASS-CAUS" value="2" width="300px" labelWidth="320px"
             $VAL-ASS-CAUS2$     
         label="Monte orario da contratto">  </strong>
                 <p></p>
            </div>
            
            <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="VAL-ASS-CAUS" value="3" width="300px" labelWidth="320px"
             $VAL-ASS-CAUS3$     
         label="Dovuto del giorno">  </strong>
                 <p></p>
            </div>
            
            <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="VAL-ASS-CAUS" value="4" width="300px" labelWidth="320px"
             $VAL-ASS-CAUS4$     
         label="Nessun valore">  </strong>
                 <p></p>
            </div>
            
                        <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="VAL-ASS-CAUS" value="5" width="300px" labelWidth="320px"
             $VAL-ASS-CAUS5$     
         label="Monte ore settimanale diviso 6">  </strong>
                 <p></p>
            </div>
            
                        <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="VAL-ASS-CAUS" value="6" width="300px" labelWidth="320px"
             $VAL-ASS-CAUS6$     
         label="Valore indicato dall'operatore">  </strong> 
                 <p></p>
            </div>
            
            </fieldset>
            
            <fieldset>
            <legend> <font color="red">Tipo conteggio</legend></font>
            <p></p>
                   <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="ASS-CONT-CAUS" value="1" width="300px" labelWidth="320px"
             $ASS-CONT-CAUS1$     
         label="La causale e' di presenza">  </strong>
                 
            </div>
            
              <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="ASS-CONT-CAUS" value="2" width="300px" labelWidth="320px"
             $ASS-CONT-CAUS2$     
         label="Aumenta le ore lavorate">  </strong>
                 <p></p>
            </div>
            
            <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="ASS-CONT-CAUS" value="3" width="300px" labelWidth="320px"
             $ASS-CONT-CAUS3$     
         label="Nessuna valorizzazione">  </strong>
                 <p></p>
            </div>
            
            <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="ASS-CONT-CAUS" value="4" width="300px" labelWidth="320px"
             $ASS-CONT-CAUS4$     
         label="Decrementa le ore lavorate">  </strong>
                 <p></p>
            </div>
                        
            </fieldset>
            
                        <fieldset>
            <legend> <font color="red">Assenze da... a...</legend></font>
            <p></p>
                   <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="GIORNI-ASS-CAUS" value="1" width="300px" labelWidth="320px"
             $GIORNI-ASS-CAUS1$     
         label="La causale e' di presenza">  </strong>
                 
            </div>
            
              <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="GIORNI-ASS-CAUS" value="2" width="300px" labelWidth="320px"
             $GIORNI-ASS-CAUS2$     
         label="Considera tutta la settimana">  </strong>
                 <p></p>
            </div>
            
            <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="GIORNI-ASS-CAUS" value="3" width="300px" labelWidth="320px"
             $GIORNI-ASS-CAUS3$     
         label="Considera solo i lavorativi">  </strong>
                 <p></p>
            </div>
            
            <div style="margin-bottom:10px; margin-left:30px ">

             <strong>
   
           <input class="easyui-radiobutton" name="GIORNI-ASS-CAUS" value="4" width="300px" labelWidth="320px"
             $GIORNI-ASS-CAUS4$     
         label="Considera i lavorativi su 6 giorni">  </strong>
                 <p></p>
            </div>
                        
            </fieldset>
            
            </font>
            
        </div>
        <div title="Regole" data-options="iconCls:'icon-rules'" style="padding:10px;">   
         <font color="blue">
         <fieldset>
         <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>

         <input class="easyui-checkbox" name=" " value="1" width="300px" labelWidth="500px"
             $ 1$     
         label="Stampa su cartellino">     </strong>
        </div>
        
        <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
        <strong>
         <input class="easyui-checkbox" name=" " value="2" width="300px" labelWidth="500px"
             $ 2$     
         label="Dettaglio su cartellino">     </strong>

            </div>
            <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>
<a href="#" style="color:blue;" class="easyui-tooltip" title="Se e' presente un rientro da profilo e il dipendente ESCE con la causale indicata allora la considera anche per il rientro">
         <input class="easyui-checkbox" name="GIUST-CAUS" value="3" width="300px" labelWidth="500px"
             $GIUST-CAUS3$     
         label="Giustifica mancato rientro se l'ultima del giorno">     </strong>
</a>
            </div>
            <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>

         <input class="easyui-checkbox" name=" " value="4" width="300px" labelWidth="500px"
             $ 4$     
         label="Riporta saldo anno precedente">     </strong>

            </div>
            <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>

         <input class="easyui-checkbox" name="USA-MENSA-CAUS" value="5" width="300px" labelWidth="500px"
             $USA-MENSA-CAUS5$     
         label="Assegna pausa mensa">     </strong>

            </div>
            <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>

         <input class="easyui-checkbox" name="BRUNETTA-CAUS" value="6" width="300px" labelWidth="500px"
             $BRUNETTA-CAUS6$     
         label="Riduzione malattia">     </strong>

            </div>
            <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>
	<a href="#" style="color:blue;" class="easyui-tooltip" title="Cliccare per escludere SEMPRE la pausa mensa se presente la presente causale">
         <input class="easyui-checkbox" name=" " value="7" width="300px" labelWidth="500px"
             $ 7$     
         label="Escludi pausa">     </strong>
</a>
            </div>
            <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>

         <input class="easyui-checkbox" name="USA-LIQ-CAUS" value="8" width="300px" labelWidth="500px"
             $USA-LIQ-CAUS8$     
         label="Accetta liquidazioni">     </strong>

            </div>
            <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>

         <input class="easyui-checkbox" name="USA-COMP-CAUS" value="9" width="300px" labelWidth="500px"
             $USA-COMP-CAUS9$     
         label="Abilita compensazioni">     </strong>

            </div>
            
            <fieldset>
            <div style="margin-bottom:10px; margin-left:20px ">
<p></p>
             <strong>

         <input class="easyui-radiobutton" name=" " value="10" width="300px" labelWidth="500px"
             $ 10$     
         label="Saldo ad Incremento">     </strong>

            </div>
            <div style="margin-bottom:10px; margin-left:20px ">
<p></p>
             <strong>

         <input class="easyui-radiobutton" name=" " value="11" width="300px" labelWidth="500px"
             $ 11$     
         label="Saldo a Decremento">     </strong>

            </div>
            <div style="margin-bottom:10px; margin-left:20px ">
<p></p>
             <strong>

         <input class="easyui-radiobutton" name=" " value="12" width="300px" labelWidth="500px"
             $ 12$     
         label="Saldo Giornaliero">     </strong>

            </div>
            <div style="margin-bottom:10px; margin-left:20px ">
<p></p>
             <strong>

         <input class="easyui-radiobutton" name=" " value="13" width="300px" labelWidth="500px"
             $ 13$     
         label="Saldo Orario">     </strong>

            </div>
                  </fieldset>
                        <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>
	<a href="#" style="color:blue;" class="easyui-tooltip" title="Azzera il flag fuori fascia se presente timbratura sul calcolo delle indennità">
         <input class="easyui-checkbox" name=" " value="14" width="300px" labelWidth="500px"
             $ 14$     
         label="Su indennità memorizza solo periodi in fascia">     </strong>
</a>
            </div>
            
            <fieldset>
            <div style="margin-bottom:10px; margin-left:20px ">
<p></p>
             <strong>
	<a href="#" style="color:blue;" class="easyui-tooltip" title="Consente di definire dove archiviare la voce (DEVE ESSERE UNA VOCE FIGURATIVA)">
         <input class="easyui-radiobutton" name=" " value="15" width="300px" labelWidth="500px"
             $ 15$     
         label="Archivia su Diurno">     </strong>
</a>
            </div>
            <div style="margin-bottom:10px; margin-left:20px ">
<p></p>
             <strong>
	<a href="#" style="color:blue;" class="easyui-tooltip" title="Consente di definire dove archiviare la voce (DEVE ESSERE UNA VOCE FIGURATIVA)">
         <input class="easyui-radiobutton" name=" " value="16" width="300px" labelWidth="500px"
             $ 16$     
         label="Archivia su Notturno">     </strong>
</a>
            </div>
            <div style="margin-bottom:10px; margin-left:20px ">
<p></p>
             <strong>
	<a href="#" style="color:blue;" class="easyui-tooltip" title="Consente di definire dove archiviare la voce (DEVE ESSERE UNA VOCE FIGURATIVA)">
         <input class="easyui-radiobutton" name=" " value="17" width="300px" labelWidth="500px"
             $ 17$     
         label="Archivia su Festivo">     </strong>
</a>
            </div>
            <div style="margin-bottom:10px; margin-left:20px ">
<p></p>
             <strong>
	<a href="#" style="color:blue;" class="easyui-tooltip" title="Consente di definire dove archiviare la voce (DEVE ESSERE UNA VOCE FIGURATIVA)">
         <input class="easyui-radiobutton" name=" " value="18" width="300px" labelWidth="500px"
             $ 18$     
         label="Archivia su Festivo + Notturno">     </strong>
</a>
            </div>
            </fieldset>
                        <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>
	<a href="#" style="color:blue;" class="easyui-tooltip" title="Azzera il dovuto e il reso del giorno (come se fosse una giornata festiva) se abilitata relativa opzione sul profilo">
         <input class="easyui-checkbox" name="AZZERA-CAUS" value="19" width="300px" labelWidth="500px"
             $AZZERA-CAUS19$     
         label="Se abilitato da profilo azzera dovuto/reso">     </strong>
</a>
            </div>
                        <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>
         <input class="easyui-checkbox" name=" " value="20" width="300px" labelWidth="500px"
             $ 20$     
         label="Compensa sui crediti del mese precedente prima dell'attuale">     </strong>
         
            </div>
                        <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>
         <input class="easyui-checkbox" name="NOPAGHE-CAUS" value="21" width="300px" labelWidth="500px"
             $NOPAGHE-CAUS21$     
         label="Non esportare su file paghe">     </strong>
         
            </div>
            <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>
         <input class="easyui-checkbox" name="EMENS-CAUS" value="22" width="300px" labelWidth="500px"
             $EMENS-CAUS22$     
         label="Esportare su UniEMENS">     </strong>
         
            </div>
            <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>
         <input class="easyui-checkbox" name="COLLEGA-CAUS" value="23" width="300px" labelWidth="500px"
             $COLLEGA-CAUS23$     
         label="Collega alla successiva con la presente causale">     </strong>
         
            </div>
                        <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>
         <input class="easyui-checkbox" name="CESSATA-CAUS" value="24" width="300px" labelWidth="500px"
             $CESSATA-CAUS24$     
         label="La causale è cessata viene sostituita con (000)">     </strong>
         
            </div>
                        <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>
         <input class="easyui-checkbox" name=" " value="25" width="300px" labelWidth="500px"
             $ 25$     
         label="Escludi l'assenza GIORNALIERA dal calcolo delle indennità">     </strong>
         
            </div>
                        <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>
         <input class="easyui-checkbox" name=" " value="26" width="300px" labelWidth="500px"
             $ 26$     
         label="Escludi l'assenza ORARIA dal calcolo delle indennità">     </strong>
         
            </div>
                        <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>
             <a href="#" style="color:blue;" class="easyui-tooltip" title="Per inserire esempio missione oraria...o altro">
         <input class="easyui-checkbox" name=" " value="27" width="300px" labelWidth="500px"
             $ 27$     
         label="Considera coppia giornaliera come da... a...">     </strong>
         </a>
            </div>
            <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>
             <a href="#" style="color:blue;" class="easyui-tooltip" title="La causale contabilizza eventuali debiti emersi nella mattinata con le eccedenze pomeridiane">
         <input class="easyui-checkbox" name=" " value="28" width="300px" labelWidth="500px"
             $ 28$     
         label="Contabilizza FINO a compensazione debiti giornalieri">     </strong>
         </a>
            </div>
            <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>
             <a href="#" style="color:blue;" class="easyui-tooltip" title="La causale non contabilizza eventuali flessibilità">
         <input class="easyui-checkbox" name="FLESS-CAUS" value="29" width="300px" labelWidth="500px"
             $FLESS-CAUS29$     
         label="Ignora flessibilità su uscita anticipata">     </strong>
         </a>
            </div>
         </div>
         </fieldset>
         </font>
         <div title="Altro" data-options="iconCls:'icon-more'" style="padding:10px;">   
         <font color="blue">
         <fieldset>
         <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>


    <input id="ss" class="easyui-timespinner"  style="width:270px;"
            required="required" data-options="min:'08:30',showSeconds:true" label="Minimo ammesso" labelWidth="170px" labelPosition="left">
				<input id="ss" class="easyui-timespinner"  style="width:270px;"
            required="required" data-options="min:'08:30',showSeconds:true" label="Massimo ammesso" labelWidth="170px" labelPosition="left">
				<input class="easyui-radiobutton" name="causali" value="Giornaliero'" data-options="label:'Giornaliero:', labelWidth:'110px'">
				<input class="easyui-radiobutton" name="causali" value="Mensile'" data-options="label:'Mensile:', labelWidth:'110px'">     
                </strong>
        </div>
        <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>
             <a href="#" style="color:blue;" class="easyui-tooltip" title="La causale contabilizza eventuali debiti emersi nella mattinata con le eccedenze pomeridiane">
         <input class="easyui-checkbox" name=" " value="30" width="300px" labelWidth="795px"
             $ 30$     
         label="Calcola al NETTO di eventuali debiti che vengono contabilizzati nella causale di seguito indicata">     </strong>
         </a>
            </div>
        <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>
             
         <input class="easyui-textbox" style="width:100%;height:34px;" name=" " value="31" width="300px" labelWidth="500px"
             $ 31$     
         label="Registra eccedenza o debito recuperato in">  

         </strong>
            </div>
        
        
         <!-- </div> -->
         </font>
         </fieldset>
     </div> 
            
        
        
            <input name="MK-KEY" size="1" style="visibility: hidden" value=
            '<cobol>SECTION-WEB</cobol>'
            >                                                                                                             
            <div style="text-align:center;padding:15px 0">
            <button class="easyui-linkbutton"  onclick="return confirm('Confermi la memorizzazione dei dati?')" type="submit" data-options="iconCls:'icon-ok'" style="padding:5px 0px;width:15%; margin-left:20px">Salva</button>
			 <a href="opencaus.exe?MK-KEY=<cobol>SECTION-WEB</cobol>" 
                  class="easyui-linkbutton"  data-options="iconCls:'icon-undo'" style="padding:5px 0px;width:15%; margin-left:20px"> <span style="font-size:14px;">Indietro</span></a>  
            <a href="#" class="easyui-linkbutton"  onclick="return location.reload(true)" data-options="iconCls:'icon-reload'" style="padding:5px 0px;width:15%; margin-left:20px"> <span style="font-size:14px;">Ricarica</span></a> 
            </div>
        </form> 
        </body>
        </html>
   
       