<!DOCTYPE html>
 <!--                   VERSIONE 1.0.4         -->
<html>  
  <head>         
    <meta charset="UTF-8">         
    <title>Archivio voci
    </title>             
    <link rel="stylesheet" type="text/css" href="/openpa/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/openpa/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/openpa/easyui/demo/demo.css">
    <script type="text/javascript" src="/openpa/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/openpa/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/openpa/easyui/locale/easyui-lang-it.js"></script>


<script type="text/javascript">
    $(function(){
    $('#open_form').on('submit', function(e){

    if ($(this).form('validate')){
     return true;
     }
        return false;
    })
    })
</script>



</head>  
        <body>
    
        <form id="open_form" name="open_form" method="post" action="/cgi-open/openreca.exe">
        

        <div id="w" class="easyui-panel" title="Tabella causali"
             data-options="iconCls:'icon-edit',collapsible:false,closable:false,minimizable:false,maximizable:true"
		     style="width:100%;height:105%;padding:20px;"> 
        
        <cobol include=template/intesta.htm></cobol>
      
         <div style="margin:20px 0;"></div>
         <div style="margin:20px 0 10px 0;"></div>
         
        <!-- <div class="easyui-accordion" style="width:'98%';height:500px;">  -->
        <div title="Configurazione" data-options="iconCls:'icon-configura'" style="overflow:auto;padding:10px;">
           
           <font color="blue">
          
          
            <div style="text-align:left;padding:10px 0">
            <fieldset>
            <input class="easyui-textbox" label="Descrizione" name="DESC-CAUS" prompt="descrizione causale" style="width:70%;height:34px;padding:10px;" data-options="labelWidth:'20%',required:true,missingMessage:'Campo obbligatorio' ,value:
            '<cobol>DESC-CAUS</cobol>'
            ">

            <a href="#" class="easyui-tooltip" title="Indicare una sigla breve per esposizione su cartellino ">            
            <input class="easyui-textbox" label="&nbsp;Sigla" name="SIGLA-CAUS" prompt="sigla causale" style="width:200PX;height:34px;padding:10px;" data-options="labelWidth:'30%',required:true,missingMessage:'Campo obbligatorio' ,value:
            '<cobol>SIGLA-CAUS</cobol>'
            "></a>            
            
            </div>
            </fieldset>
            </font>
            
            <p></p>
<h2> <font color="red">Dati generali </h2></font>

          <font color="blue">
          <fieldset>
          <legend> <font color="red">Tipo causale</legend></font>
            <p></p>
            
        <cobol template=RADIO.HTM label="Assenza" title="Indicare il tipo della causale" labelWidth="150px" value="1">TIPO-CAUS</cobol>
       
            
        <cobol template=RADIO.HTM label="Presenza" title="Indicare il tipo della causale" labelWidth="150px" value="2">TIPO-CAUS</cobol>    
 
                     
        <cobol template=RADIO.HTM label="Figurativa" title="Indicare il tipo della causale" labelWidth="150px" value="3">TIPO-CAUS</cobol>             
           
           <p>Le causali figurative sono utilizzate per collegare i calcoli di una voce di indennità
          ad uno specifio codice voce. Tutti i flag eventualmente indicati non assumono alcun significato
          in quanto la loro gestione e' completamente a carico degli algoritmi del software
         </p>          
  
            </fieldset>
            </font>

            <font color="blue">
          <fieldset>
          <legend> <font color="red">Tipo causale</legend></font>
            <p></p>
            
            <p>questa sezione  introduce i soli elementi di base della causale. In assenza di altri parametri valgono quelli standar per la cateriga assegnata
            che possiamo riassumere come segue:</p>
            
        <cobol template=RADIO.HTM label="Lavoro ordinario" title="Natura causale lavoro ordinario" labelWidth="150px" value="1">NATURA-CAUS</cobol>
        <p>le ore lavorate fatte nel profilo del dipendente vengono conteggiate senza alcuna 
            ripartizione di orario ossia sono sempre considerate diurne la causale deve iniziare in entrata
            e terminare in uscita. L'Uscita puo' avvenire anche il giorno seguente con altra causale di straordinario
            o con la medesima. Le ore concorrono a formare il lavorato del dipendente. Qualora il profilo sia libero
            sono tutte conteggiate a concorrenza del dovuto (giornaliero o settimana o mensile a seconda dei criteri del profilo)
         </p>
            
        <cobol template=RADIO.HTM label="Straordinario"  labelWidth="150px" value="2">NATURA-CAUS</cobol>    
        <p>le ore lavorate fatte nel profilo del dipendente vengono conteggiate sempre
            con ripartizione di orario (diurno notturno festivo festivo notturno.
            L'Uscita puo' avvenire anche il giorno seguente con la medesima causale
            Le ore concorrono sono conteggite nel contatore di straordinario del dipendente e della causale.
            La causale ammette la sequenza ENTRATA e USCITA oppure entrata prima per uscita dopo per...
          </p>
                     
        <cobol template=RADIO.HTM label="Ferie"  labelWidth="150px" value="3">NATURA-CAUS</cobol>             
           
        <p>le giornate vengono contabilizzate nella sezione delle ferie, sono contabilizzate le solo giornate di presenza orario da profilo </p>          
  
        <cobol template=RADIO.HTM label="Malattia"  labelWidth="150px" value="4">NATURA-CAUS</cobol>
        <p>le giornate vengono contabilizzate in malattia ,sono contabilizzate tutte le giornate di calendario </p>
  
        <cobol template=RADIO.HTM label="Trasferta"  labelWidth="150px" value="5">NATURA-CAUS</cobol>
        <p>le giornate vengono contabilizzate nel lavorato, sono contabilizzate le solo giornate di presenza orario da profilo </p>
  
        <cobol template=RADIO.HTM label="Sciopero"  labelWidth="150px" value="6">NATURA-CAUS</cobol>
        <p>le giornate vengono contabilizzate nel lavorato, sono contabilizzate le solo giornate di presenza orario da profilo 
            la decurtazione avviene sulla busta paga lato economico
        </p>
  
        <cobol template=RADIO.HTM label="Altro"  labelWidth="150px" value="7">NATURA-CAUS</cobol>
        <p>le giornate vengono contabilizzate nel lavorato, sono contabilizzate le solo giornate di presenza orario da profilo 
         
        </p>
        
            </fieldset>
            </font>

            
            <font color="blue">
          <fieldset>
          <legend> <font color="red">Tipo ripartizione orario</legend></font>
            <p></p>
            
        <cobol template=RADIO.HTM label="La causale e' di assenza"  labelWidth="400px" value="1">RIP-CONT-CAUS</cobol>
                   
       
        <cobol template=RADIO.HTM label="Nessuna ripartizione"  labelWidth="400px" value="2">RIP-CONT-CAUS</cobol>    
 
                     
        <cobol template=RADIO.HTM label="Ripartizione in feriale,notturno,festivo+notturno"  labelWidth="400px" value="3">RIP-CONT-CAUS</cobol>             
           
  
        <cobol template=RADIO.HTM label="Ripartizione solo su indennita"  labelWidth="400px" value="4">RIP-CONT-CAUS</cobol>
        
            </fieldset>
            </font>
 
        <p></p>
        
        
        <font color="red">
          
       <h2> Parametri di PRESENZA</h2></font>

           <p></p>

           
           <font color="blue">
       <fieldset>
            <legend> <font color="red">Tipo conteggio causali in PRESENZA </legend></font>
            <p></p>
        
        <cobol template=RADIO.HTM label="La causale e' di assenza"  labelWidth="340px" value="1">TIPO-CONT-CAUS</cobol>        
 
 
        <cobol template=RADIO.HTM label="Tipo USCITA e ENTRATA"  labelWidth="340px" value="2">TIPO-CONT-CAUS</cobol>
        <p>il tipo conteggio prevede che la causale inizi per USCITA e poi  termini in ENTRATA
            esempio: si esce per permesso e poi si rientra.
            E' altresì possibile che si entri direttamente dopo l'orario da profilo in questo caso la causale si
            intende come entra dopo da ...(esempio si entra dopo da servizio). In questo caso da quando si sarebbe
            dovuti entrare alla entrata effettivamente rilevata viene contabilizzato tutto a questa causale.
            Inoltre e'  possibile che si esca prima dell'orario da profilo in questo caso la causale si
            intende come da quando si esce alla uscita teoria  ...(esempio si esce per servizio e non si rientra). 
            In questo caso da quando si esce alla ucita da profilo  viene contabilizzato tutto a questa causale.
            
            </p>
                  
        <cobol template=RADIO.HTM label="Coppia ENTRATA e USCITA"  labelWidth="340px" value="3">TIPO-CONT-CAUS</cobol>
        <p>il tipo conteggio prevede che la causale inizi per ENTRATA e poi termini in USCITA
            
            </p>   
            
        <cobol template=RADIO.HTM label="Tipo ENTRATA e USCITA"  labelWidth="340px" value="4">TIPO-CONT-CAUS</cobol>
        <p>il tipo conteggio prevede che la causale inizi per ENTRATA e poi  termini in USCITA
            esempio: si entra prima per straordinario o si esce dopo per straordinario .
            E' altresì possibile che si entri prima l'orario da profilo in questo caso la causale si
            intende come entra prima da ...(esempio si entra prima per straordinario). In questo caso dall'entrata effettivamente rilevata 
            a quando si sarebbe dovuti entrare viene contabilizzato tutto a questa causale.
            Inoltre e'  possibile che si esca dopo dell'orario da profilo in questo caso la causale si
            intende come dall'uscita teorica da profilo a quella rilevata dalla timbratura  ...(esempio si esce dopo l'orario di lavoro). 
            In questo caso dall'uscita da profilo a quando si esce effettivamente  viene contabilizzato tutto a questa causale.
            
            </p>
           
        <cobol template=RADIO.HTM label="Conteggio da complementare"  labelWidth="340px" value="5">TIPO-CONT-CAUS</cobol>
        <p>il tipo conteggio prevede l'inserimento del valore orario della causale nella tabella complementare
            
            </p>  
            
            </fieldset>
            </font>

            
         <font color="blue">
       <fieldset>
          <legend> <font color="red">Tipo ripartizione orario</legend></font>
            <p></p>
            
        <cobol template=RADIO.HTM label="La causale e' di assenza"  labelWidth="340px" value="1">CONSIDERA-CAUS</cobol>  
                   
                   
        <cobol template=RADIO.HTM label="Esclusione dalle ore normali di lavoro"  labelWidth="340px" value="2">CONSIDERA-CAUS</cobol>           
        <p>i conteggi delle timbrature con la causale vengono escluse dalle ore lavorative</p>
            
        <cobol template=RADIO.HTM label="Somma nelle ore normali di lavoro"  labelWidth="340px" value="3">CONSIDERA-CAUS</cobol>
        <p>i conteggi delle timbrature con la causale vengono sommate nelle ore lavorative</p>
            
        <cobol template=RADIO.HTM label="Sottrae dalle ore normali di lavoro"  labelWidth="340px" value="4">CONSIDERA-CAUS</cobol>   
        <p>i conteggi delle timbrature con la causale vengono sottratte dalle ore lavorative</p>

            </fieldset>
            </font>

        
        <p></p>
        
        <font color="red">
          
       <h2> Parametri di ASSENZA</h2></font>

           <p></p>

      
          <font color="blue">
            <fieldset>
            <legend> <font color="red">Conteggi su festivo</legend></font>
             <p></p>

        <cobol template=RADIO.HTM label="La causale e' di presenza"  labelWidth="340px" value="1">TRAT-FEST-CAUS</cobol>

        
        <cobol template=RADIO.HTM label="Non considera conteggio ore e giorni"  labelWidth="340px" value="2">TRAT-FEST-CAUS</cobol>
        <p>ad esempio le Ferie</p>  
         
        <cobol template=RADIO.HTM label="Considera giorni e conteggio orario"  labelWidth="340px" value="3">TRAT-FEST-CAUS</cobol>    
        <p>ad esempio la malattia di turnista su giorno festivo coincidente con riposo...</p> 
             
        <cobol template=RADIO.HTM label="Considera solo conteggio giorno assenza"  labelWidth="340px" value="4">TRAT-FEST-CAUS</cobol>   
        <p>ad esempio aspettativa per malattia</p> 
 
            </fieldset>
            </font>
             
             
            <font color="blue">
            <fieldset>
            <legend> <font color="red">Valore assenza</legend></font>
            <p></p>
                   
        <cobol template=RADIO.HTM label="La causale e' di presenza"  labelWidth="340px" value="1">VAL-ASS-CAUS</cobol>           
                   
                   
        <cobol template=RADIO.HTM label="Monte orario da contratto"  labelWidth="340px" value="2">VAL-ASS-CAUS</cobol>

        
        <cobol template=RADIO.HTM label="Dovuto del giorno"  labelWidth="340px" value="3">VAL-ASS-CAUS</cobol>    
           
           
        <cobol template=RADIO.HTM label="Nessun valore"  labelWidth="340px" value="4">VAL-ASS-CAUS</cobol>
            
            
        <cobol template=RADIO.HTM label="Monte ore settimanale diviso 6"  labelWidth="340px" value="5">VAL-ASS-CAUS</cobol>
            
            
        <cobol template=RADIO.HTM label="Valore indicato dall'operatore"  labelWidth="340px" value="6">VAL-ASS-CAUS</cobol>
            
            
            </fieldset>
            </font>
            
            
            <font color="blue">
            <fieldset>
            <legend> <font color="red">Tipo conteggio</legend></font>
            <p></p>
                   
        <cobol template=RADIO.HTM label="La causale e' di presenza"  labelWidth="340px" value="1">ASS-CONT-CAUS</cobol>           
                   
  
        <cobol template=RADIO.HTM label="Aumenta le ore lavorate"  labelWidth="340px" value="2">ASS-CONT-CAUS</cobol>
            

        <cobol template=RADIO.HTM label="Nessuna valorizzazione"  labelWidth="340px" value="3">ASS-CONT-CAUS</cobol>    
            

        <cobol template=RADIO.HTM label="Decrementa le ore lavorate"  labelWidth="340px" value="4">ASS-CONT-CAUS</cobol>    
            
                           
            </fieldset>
            </font>
          
          
          <font color="blue">
                        <fieldset>
            <legend> <font color="red">Assenze da... a...</legend></font>
            <p></p>
                   
        <cobol template=RADIO.HTM label="La causale e' di presenza"  labelWidth="340px" value="1">GIORNI-ASS-CAUS</cobol>
                   

        <cobol template=RADIO.HTM label="Considera tutta la settimana"  labelWidth="340px" value="2">GIORNI-ASS-CAUS</cobol>    

            
        <cobol template=RADIO.HTM label="Considera solo i lavorativi"  labelWidth="340px" value="3">GIORNI-ASS-CAUS</cobol>    
            

        <cobol template=RADIO.HTM label="Considera i lavorativi su 6 giorni"  labelWidth="340px" value="4">GIORNI-ASS-CAUS</cobol>    

                        
            </fieldset>
            
            </font>
            
            
            <p></p>
        
        <font color="red">
          
       <h2>Regole</h2></font>

           <p></p>
            
            
            
         <font color="blue">
         <fieldset>
         
        <cobol template=CHECK.HTM label="Stampa su cartellino"  labelWidth="500px" value="1">        1</cobol>        
         
         
        <cobol template=CHECK.HTM label="Dettaglio su cartellino"  labelWidth="500px" value="2">        2</cobol>
        
        
        <cobol template=CHECK.HTM label="Giustifica mancato rientro se l'ultima del giorno"  title="Se e' presente un rientro da profilo e il dipendente ESCE con la causale indicata allora la considera anche per il rientro"  labelWidth="500px" value="3">GIUST-CAUS</cobol>

        
        <cobol template=CHECK.HTM label="Riporta saldo anno precedente"  labelWidth="500px" value="4">        4</cobol>


        <cobol template=CHECK.HTM label="Assegna pausa mensa"  labelWidth="500px" value="5">USA-MENSA-CAUS</cobol>
        

        <cobol template=CHECK.HTM label="Riduzione malattia"  labelWidth="500px" value="6">BRUNETTA-CAUS</cobol>
            
            
        <cobol template=CHECK.HTM label="Escludi pausa"  title="Cliccare per escludere SEMPRE la pausa mensa se presente la presente causale"  labelWidth="500px" value="7">        7</cobol>    
            
            
        <cobol template=CHECK.HTM label="Accetta liquidazioni"  labelWidth="500px" value="8">USA-LIQ-CAUS</cobol>    
            

        <cobol template=CHECK.HTM label="Abilita compensazioni"  labelWidth="500px" value="9">USA-COMP-CAUS</cobol>    
            

            <font color="blue">
            <fieldset>
            <p></p>
            <cobol template=RADIO.HTM label="Saldo ad Incremento"  labelWidth="487px" value="1">       1</cobol>

            
            <cobol template=RADIO.HTM label="Saldo a Decremento"  labelWidth="487px" value="2">       2</cobol>
            
            
            <cobol template=RADIO.HTM label="Saldo Giornaliero"  labelWidth="487px" value="3">       3</cobol>

            
            <cobol template=RADIO.HTM label="Saldo Orario"  labelWidth="487px" value="4">       4</cobol>

                  </fieldset>
                        </font>

                 <p></p>
                 
            <cobol template=CHECK.HTM label="Su indennità memorizza solo periodi in fascia"  title="Azzera il flag fuori fascia se presente timbratura sul calcolo delle indennità"  labelWidth="500px" value="10">        10</cobol>
  

    
            <font color="blue">
            <fieldset>
            <p></p>
            
            <cobol template=RADIO.HTM label="Archivia su Diurno"   title="Consente di definire dove archiviare la voce (DEVE ESSERE UNA VOCE FIGURATIVA)" labelWidth="487px" value="1">       1</cobol>

            
            <cobol template=RADIO.HTM label="Archivia su Notturno"   title="Consente di definire dove archiviare la voce (DEVE ESSERE UNA VOCE FIGURATIVA)" labelWidth="487px" value="2">       2</cobol>
            
            
            <cobol template=RADIO.HTM label="Archivia su Festivo"   title="Consente di definire dove archiviare la voce (DEVE ESSERE UNA VOCE FIGURATIVA)" labelWidth="487px" value="3">       3</cobol>

            
            <cobol template=RADIO.HTM label="Archivia su Festivo + Notturno"   title="Consente di definire dove archiviare la voce (DEVE ESSERE UNA VOCE FIGURATIVA)" labelWidth="487px" value="4">       4</cobol>

            </fieldset>
            </font>
            <p></p>
            
            <cobol template=CHECK.HTM label="Se abilitato da profilo azzera dovuto/reso"  title="Azzera il dovuto e il reso del giorno (come se fosse una giornata festiva) se abilitata relativa opzione sul profilo"  labelWidth="500px" value="11">AZZERA-CAUS</cobol>
                        

            <cobol template=CHECK.HTM label="Compensa sui crediti del mese precedente prima dell'attuale"   labelWidth="500px" value="12">        12</cobol>            

            
            <cobol template=CHECK.HTM label="Non esportare su file paghe"  labelWidth="500px" value="13">NOPAGHE-CAUS</cobol>

            
            <cobol template=CHECK.HTM label="Esportare su UniEMENS"  labelWidth="500px" value="14">EMENS-CAUS</cobol>
            

            <cobol template=CHECK.HTM label="Collega alla successiva con la presente causale"  labelWidth="500px" value="15">COLLEGA-CAUS</cobol>

            
            <cobol template=CHECK.HTM label="La causale è cessata viene sostituita con (000)"  labelWidth="500px" value="16">CESSATA-CAUS</cobol>
                        
                        
            <cobol template=CHECK.HTM label="Escludi l'assenza GIORNALIERA dal calcolo delle indennità"  labelWidth="500px" value="17">      17</cobol>            
            
            
            <cobol template=CHECK.HTM label="Escludi l'assenza ORARIA dal calcolo delle indennità"  labelWidth="500px" value="18">      18</cobol>
            

            <cobol template=CHECK.HTM label="Considera coppia giornaliera come da... a..."  title="Per inserire esempio missione oraria...o altro"  labelWidth="500px" value="19">       19</cobol>
            
            
            <cobol template=CHECK.HTM label="Contabilizza FINO a compensazione debiti giornalieri"  title="La causale contabilizza eventuali debiti emersi nella mattinata con le eccedenze pomeridiane"  labelWidth="500px" value="20">       20</cobol>

            
            <cobol template=CHECK.HTM label="Ignora flessibilità su uscita anticipata"  title="La causale non contabilizza eventuali flessibilità"  labelWidth="500px" value="21">       21</cobol>
            

         </fieldset>
         </font>
         
         <p></p>
         
         <font color="red">
         <h2>Altro</h2> </font>
         
         <p></p>
         
         <font color="blue">
         <fieldset>
         
         
         <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>


    <input id="ss" class="easyui-timespinner"  style="width:270px;"
            required="required" data-options="min:'08:30',showSeconds:true" label="Minimo ammesso" labelWidth="170px" labelPosition="left">
				<input id="ss" class="easyui-timespinner"  style="width:270px;"
            required="required" data-options="min:'08:30',showSeconds:true" label="Massimo ammesso" labelWidth="170px" labelPosition="left">
				
            <cobol template=RADIO2.HTM label="Giornaliero"  labelWidth="110px" value="1">       1</cobol>   
            <cobol template=RADIO2.HTM label="Mensile"  labelWidth="110px" value="2">       2</cobol>
            
                
                </strong>
        </div>
        
            <cobol template=CHECK.HTM label="Calcola al NETTO di eventuali debiti che vengono contabilizzati nella causale di seguito indicata"  title="La causale contabilizza eventuali debiti emersi nella mattinata con le eccedenze pomeridiane"  labelWidth="795px" value="22">       22</cobol>    
        

        <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>
             
         <input class="easyui-textbox" label="Registra eccedenza o debito recuperato in" iconWidth="28" style="width:450px;height:34px;padding:10px;" name=" "   labelWidth="350px">
             <cobol> 31</cobol>     
         </strong>
            </div>
            
            
        <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>
             
         <input class="easyui-checkbox" name=" " value="32" width="300px" labelWidth="795px"
             <cobol> 32</cobol>     
         label="Mod. personalizzato">     </strong>

            </div>
            <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>
             
         <input class="easyui-checkbox" name=" " value="33" width="300px" labelWidth="795px"
             <cobol> 33</cobol>     
         label="Autorizza WEB">     </strong>

            </div>
            
           <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>
             
         <input class="easyui-textbox" label="Sigla di stampa ridotta" iconWidth="28" style="width:450px;height:34px;padding:10px;" name=" " value="34"  labelWidth="350px">
             <cobol> 34</cobol>     
         </strong>
            </div>
            
            <font color="blue">
            <fieldset>
            <legend> <font color="red">Su WEB</legend></font>
            <p></p>
            
            <cobol template=RADIO.HTM label="Autorizzazione automatica"  labelWidth="487px" value="1">       1</cobol>
            
            
            <cobol template=RADIO.HTM label="Singola autorizzazione"  labelWidth="487px" value="2">       2</cobol>

            
            <cobol template=RADIO.HTM label="Doppia autorizzazione"  labelWidth="487px" value="3">       3</cobol>

            
            <cobol template=RADIO.HTM label="Esclusa da WEB"  labelWidth="487px" value="4">       4</cobol>

            </fieldset>
            </font>
            
            <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>
             
         <input class="easyui-textbox" label="Sostituisci con (solo su acquisizione)" iconWidth="28" style="width:450px;height:34px;padding:10px;" name=" " value="39"  labelWidth="350px">
             <cobol> 39</cobol>     
         </strong>
            </div>
            
            <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>
             
         <input class="easyui-textbox" label="Conteggia su" iconWidth="28" style="width:450px;height:34px;padding:10px;" name=" " value="40"  labelWidth="350px">
             <cobol> 40</cobol>     
         </strong>
            </div>
            
            <div style="margin-bottom:10px; margin-left:30px ">
<p></p>
             <strong>
             
         <input class="easyui-textbox" label="Duplica su" iconWidth="28" style="width:450px;height:34px;padding:10px;" name=" " value="41"  labelWidth="350px">
             <cobol> 41</cobol>     
         </strong>
            </div>
            
        
         <!-- </div> -->
         </font>
         </fieldset>
     </div> 
            
        
        
            <input name="MK-KEY" size="1" style="visibility: hidden" value=
            '<cobol>SECTION-WEB</cobol>'
            >                                                                                                             
            <div style="text-align:center;padding:15px 0">
            <button class="easyui-linkbutton"  onclick="return confirm('Confermi la memorizzazione dei dati?')" type="submit" data-options="iconCls:'icon-ok'" style="padding:5px 0px;width:15%; margin-left:20px">Salva</button>
			 <a href="opencaus.exe?MK-KEY=<cobol>SECTION-WEB</cobol>" 
                  class="easyui-linkbutton"  data-options="iconCls:'icon-undo'" style="padding:5px 0px;width:15%; margin-left:20px"> <span style="font-size:14px;">Indietro</span></a>  
            <a href="#" class="easyui-linkbutton"  onclick="return location.reload(true)" data-options="iconCls:'icon-reload'" style="padding:5px 0px;width:15%; margin-left:20px"> <span style="font-size:14px;">Ricarica</span></a> 
            </div>
        </form> 
        </body>
        </html>
   
       