     
        <div>

        <input class="easyui-textbox" label="Ente" iconWidth="28" style="width:42%;height:34px;padding:10px;" data-options="disabled:true, value:
        '<cobol>DESC-ENTE</cobol>'
        ">
        <input class="easyui-textbox" label="Utente" iconWidth="28" style="width:15%;height:34px;padding:10px;" data-options="disabled:true, value:
        '<cobol>UTENTE</cobol>'
         ,labelAlign:'center'">
        <input class="easyui-textbox" label="Accesso" iconWidth="28" style="width:15%;height:34px;padding:10px;" data-options="disabled:true, value:
         '<cobol>OGGI</cobol>'
         ,labelAlign:'center'">

        <input class="easyui-textbox" label="Scadenza"  labelWidth="120px" iconWidth="28" style="width:17%;height:34px;padding:10px;" data-options="disabled:true, value:
         
        '<cobol>SCADENZA</cobol>'
         ,labelAlign:'center'">

     
        <a href="openpa00.exe?MK-KEY=<cobol>SECTION-WEB</cobol>"
                  class="easyui-linkbutton easyui-tooltip" 
                  title="ritorna al menu operatore"
                  data-options="iconCls:'icon-more'" 
                  style="padding:5px 0px;width:3%"></a>  


        <a href="openpa99.exe?MK-KEY=<cobol>SECTION-WEB</cobol>"
                  class="easyui-linkbutton easyui-tooltip" 
                  title="Logout"
                  data-options="iconCls:'icon-man1'" 
                  style="padding:5px 0px;width:3%"></a>  

                  
        </div>
        

