   <!DOCTYPE html>
    <html>
    <head>         
    <meta charset="UTF-8">         
    <title>Elenco funzioni
    </title>             
    <link rel="stylesheet" type="text/css" href="/openpa/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/openpa/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/openpa/easyui/demo/demo.css">
    <script type="text/javascript" src="/openpa/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/openpa/easyui/jquery.easyui.min.js"></script>
    
    <script>
	function closeit(){
    
        history.back();
        
             location.reload(true);
		
        <!-- alert("fatto"); -->
        <!-- $('#dlg').dialog('close') -->
	    
        
	}
    </script>
    
    
    </head>
    <body>
        <div id="dlg" class="easyui-dialog" title="//COBOL//MK-TITLE//COBOL//" style="width:500px;height:400px;padding:10px"
                 data-options="buttons: '#dlg-buttons' , iconCls:'icon-back'">
                
                 <font color="red"> <h3>//COBOL//MK-MESSAGE//COBOL//</h3>  </font>
           
  
        <div id="dlg-buttons">
         
         <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" style="padding:5px 0px;width:45%; margin-left:10px" onclick="closeit();">Chiudi</a> 
		 
	    <a href="openpa00.exe?MK-KEY=//COBOL//MK-KEY//COBOL//" class="easyui-linkbutton" data-options="iconCls:'icon-back'" style="padding:5px 0px;width:45%; margin-left:20px">Torna al menu</a> 

        
        </div>
        
        </div>
     
    </body>
    </html>