        <!--                   HTML per il tag RADIO VERSIONE 1.0.4         -->
        
        <strong> 
        
        <a href="#" class="easyui-tooltip" title="{TITLE}">                    
        <input class="easyui-radiobutton" name="{SELF}" value="{VALUE}" width="150px" labelWidth="{LABELWIDTH}"
        <cobol>{SELF}{VALUE}</cobol>
        label="{LABEL}"></a>
       
        </strong>
        
        <!--                   FINE HTML per il tag RADIO VERSIONE 1.0.4         -->