<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Elenco Qualifiche dipendenti
    </title>
    <link rel="stylesheet" type="text/css" href="/openpa/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/openpa/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/openpa/easyui/demo/demo.css">
    <script type="text/javascript" src="/openpa/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/openpa/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/openpa/easyui/locale/easyui-lang-it.js"></script>


<script type="text/javascript">
    $(function(){
    $('#open_form').on('submit', function(e){

    if ($(this).form('validate')){
     return true;
     }
        return false;
    })
    })
</script>



</head>
        <body>

        <form>

        <div id="w" class="easyui-panel" title="Tabella Qualifiche dipendenti"
             data-options="iconCls:'icon-edit',collapsible:false,closable:false,minimizable:false,maximizable:true"
                     style="width:100%;height:125%;padding:20px;">

                     
                     
        

            <div title="Elenco Centri di costo" style="padding:10px">
            <font color="blue">
            

            <cobol include=template/intesta.htm></cobol>
            
            <div style="margin:20px 0;"></div>

        <table class="easyui-datagrid" title="Elementi tabella" style="width:'100%';height:450px"

                data-options="singleSelect:true,rownumbers:true,singleSelect:true,pagination:true
								,url:
                                 '<cobol>FILE-JSON'<cobol>
								 ,remoteSort:false
				                 ,method:'get'">
            <thead>
                <tr>
                    <th data-options="field:'ELEMENTO',width:'15%',sortable:true">Codice</th>
                    <th data-options="field:'DESC',width:'65%',sortable:true">Centro di Costo</th>
                    <th data-options="field:'MODIFICA',width:'10%',align:'center'">Modifica</th>
                    <th data-options="field:'CANCELLA',width:'10%',align:'center'">Elimina</th>

                     </tr>
            </thead>
        </table>
            </font>
            </div>
            <input name="MK-KEY" size="1" style="visibility: hidden" value=
            '<cobol>SECTION-WEB</cobol>'
            >
            <div style="text-align:left;padding:15px 0">

            <a href="openinse.exe?MK-KEY=<cobol>SECTION-WEB</cobol>"
                  class="easyui-linkbutton"  data-options="iconCls:'icon-ok'" style="padding:5px 0px;width:15%; margin-left:20px"> <span style="font-size:14px;">Nuovo</span></a>

            <a href="openpa00.exe?MK-KEY=<cobol>SECTION-WEB</cobol>"
                  class="easyui-linkbutton"  data-options="iconCls:'icon-undo'" style="padding:5px 0px;width:15%; margin-left:20px"> <span style="font-size:14px;">Indietro</span></a>

            <a href="#" class="easyui-linkbutton"  onclick="return location.reload(true)" data-options="iconCls:'icon-reload'" style="padding:5px 0px;width:15%; margin-left:20px"> <span style="font-size:14px;">Ricarica</span></a>

        </div>
        </form>
        </body>
        </html>
