<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Elenco funzioni
    </title>
   
   <head>
    <meta charset="UTF-8">
    <title>Basic CRUD Application - jQuery EasyUI CRUD Demo</title>
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/color.css">
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/demo/demo.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
</head>
   
</head>
    <body>
        <!-- <div id="w" class="easyui-window" title="Elenco opzioni disponibili OpenPA" data-options="iconCls:'icon-large_chart',collapsible:false, closable:false, minimizable:false" style="width:100%;height:800px;padding:10px;"> -->
        <div id="w" class="easyui-panel" title="Elenco opzioni disponibili OpenPA" data-options="iconCls:'icon-',collapsible:false,closable:true,minimizable:false,modal:true"
               style="width:'100%';height:'100%';padding:20px;">
        <!-- <p>Move mouse over the button to drop down menu.</p>  -->
        <input class="easyui-textbox" label="Ente" iconWidth="28" style="width:50%;height:34px;padding:10px;" data-options="disabled:true, value:
          'ENTE DIMOSTRATIVO'
        ">
        <input class="easyui-textbox" label="Utente" iconWidth="28" style="width:30%;height:34px;padding:10px;" data-options="disabled:true, value:
          'ADMIN'
        ,labelAlign:'center'">
        <input class="easyui-textbox" label="Accesso" iconWidth="28" style="width:15%;height:34px;padding:10px;" data-options="disabled:true, value:
          '01-06-2020'
        ,labelAlign:'center'">
        <div style="margin:20px 0;"></div>
        <div class="easyui-panel" style="padding:5px;">
          <a href="#" class="easyui-menubutton" data-options="menu:'#mm1',iconCls:'icon-edit',disabled:false">Tabelle Parametri</a>
          <a href="#" class="easyui-menubutton" data-options="menu:'#mm2',iconCls:'icon-man' ,disabled:false">Anagrafiche</a>
          <a href="#" class="easyui-menubutton" data-options="menu:'#mm2',iconCls:'icon-sum' ,disabled:false">Cartellino</a>
          <a href="#" class="easyui-menubutton" data-options="menu:'#mm2',iconCls:'icon-help',disabled:false">Statistiche</a>
          <a href="#" class="easyui-menubutton" data-options="menu:'#mm2',iconCls:'icon-tipo',disabled:false">Servizio</a>
        </div>
 <div id="mm1" style="width:300px;">
             <div data-options="disabled:false"><span>- Gestione Tabelle Ente</span><div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="OPENPA02.exe?MK-KEY=016493023" class="easyui-menulink">- Dati generali Ente</a></div>
             <div data-options="disabled:false,iconCls:'icon-help'"><a style="text-decoration:none;" href="GESTTB02.exe?MK-KEY=016493023" class="easyui-menulink">- Progressivi dell'Ente</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTTB09.exe?MK-KEY=016493023" class="easyui-menulink">- Definizione maturazione ferie</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTTB36.exe?MK-KEY=016493023" class="easyui-menulink">- Descrizione Calendari Ente</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTTB35.exe?MK-KEY=016493023" class="easyui-menulink">- Festivita' calendari Ente</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTTB45.exe?MK-KEY=016493023" class="easyui-menulink">- Struttura archivio acquisizione</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTTB46.exe?MK-KEY=016493023" class="easyui-menulink">- Struttura archivio esportazione</a></div>
             <div data-options="disabled:false,iconCls:'icon-help'"><a style="text-decoration:none;" href="GESTTB41.exe?MK-KEY=016493023" class="easyui-menulink">- Gestione parametri rilevazione</a></div>
             <div data-options="disabled:false,iconCls:'icon-back'"><a style="text-decoration:none;" href="GESTTB15.exe?MK-KEY=016493023" class="easyui-menulink">- Archivio rilevatori/terminali</a></div>
             <div data-options="disabled:false,iconCls:'icon-redo'"><a style="text-decoration:none;" href="GESTTB37.exe?MK-KEY=016493023" class="easyui-menulink">- Tabella servizi</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTTB39.exe?MK-KEY=016493023" class="easyui-menulink">- Tabella categorie badge</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTTB38.exe?MK-KEY=016493023" class="easyui-menulink">- Tabella aree</a></div>
             <div data-options="disabled:false,iconCls:'icon-pencil'"><a style="text-decoration:none;" href="GESTTB42.exe?MK-KEY=016493023" class="easyui-menulink">- Tabella categorie causali</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTTB43.exe?MK-KEY=016493023" class="easyui-menulink">- Tabella gerarchie</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTTB44.exe?MK-KEY=016493023" class="easyui-menulink">- Tabella firme modelli WEB</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTTB30.exe?MK-KEY=016493023" class="easyui-menulink">- Tabella Provincie/Stati Esteri</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTTCOM.exe?MK-KEY=016493023" class="easyui-menulink">- Tabella comuni</a></div>
        </div></div>
             <div data-options="disabled:false"><span>- Gestione Tabelle Matricolare</span><div>
             <div data-options="disabled:false,iconCls:'icon-man'"><a style="text-decoration:none;" href="GESTTB07.exe?MK-KEY=016493023" class="easyui-menulink">- Qualifiche professionali</a></div>
             <div data-options="disabled:false,iconCls:'icon-man'"><a style="text-decoration:none;" href="GESTTB48.exe?MK-KEY=016493023" class="easyui-menulink">- Livelli professionali</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTTB08.exe?MK-KEY=016493023" class="easyui-menulink">- Descrizione sedi lavoro</a></div>
             <div data-options="disabled:false,iconCls:'icon-undo'"><a style="text-decoration:none;" href="GESTTB10.exe?MK-KEY=016493023" class="easyui-menulink">- C/costo - Reparti</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTTB11.exe?MK-KEY=016493023" class="easyui-menulink">- Tipo contratti assunzione</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTTB12.exe?MK-KEY=016493023" class="easyui-menulink">- Tabella Asl di appartenenza</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTTB13.exe?MK-KEY=016493023" class="easyui-menulink">- Tabella titolo di studio</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTTB14.exe?MK-KEY=016493023" class="easyui-menulink">- Tabella stato civile</a></div>
             <div data-options="disabled:false,iconCls:'icon-search'"><a style="text-decoration:none;" href="GESTTB16.exe?MK-KEY=016493023" class="easyui-menulink">- Tabella indennita'</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTTB18.exe?MK-KEY=016493023" class="easyui-menulink">- Posizioni Inail dipendenti</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTTB32.exe?MK-KEY=016493023" class="easyui-menulink">- Gestione pianificazione profili</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTTB33.exe?MK-KEY=016493023" class="easyui-menulink">- Gestione regole accesso</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTTB52.exe?MK-KEY=016493023" class="easyui-menulink">- Gestione tipologia originali</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTTB53.exe?MK-KEY=016493023" class="easyui-menulink">- Gestione tipologia variazioni</a></div>
        </div></div>
             <div data-options="disabled:false,iconCls:'icon-print'"><span>- Archivi rilevazione</span><div>
             <div data-options="disabled:false,iconCls:'icon-lock'"><a style="text-decoration:none;" href="GESTCAUS.exe?MK-KEY=016493023" class="easyui-menulink">- Gestione archivio causali</a></div>
             <div data-options="disabled:false,iconCls:'icon-lock'"><a style="text-decoration:none;" href="GESTORA.exe?MK-KEY=016493023" class="easyui-menulink">- Gestione archivio orari</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTPROF.exe?MK-KEY=016493023" class="easyui-menulink">- Gestione archivio profili</a></div>
             <div data-options="disabled:false,iconCls:'icon-undo'"><a style="text-decoration:none;" href="GESTIND.exe?MK-KEY=016493023" class="easyui-menulink">- Gestione archivio voci indennita'</a></div>
             <div data-options="disabled:false,iconCls:'icon-search'"><a style="text-decoration:none;" href="GESTTB16.exe?MK-KEY=016493023" class="easyui-menulink">- Tabella indennita'</a></div>
        </div></div>
             <div data-options="disabled:false"><span>- Gestione matricole</span><div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTMATR.exe?MK-KEY=016493023" class="easyui-menulink">- Gestione archivio matricole</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTGIUR.exe?MK-KEY=016493023" class="easyui-menulink">- Gestione archivio giuridico</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTRICH.exe?MK-KEY=016493023" class="easyui-menulink">- Proposta richiesta badges</a></div>
          </div></div>
 </div>
 <div id="mm2" style="width:300px;">
             <div data-options="disabled:false"><span>- Cartellino</span><div>
             <div data-options="disabled:false,iconCls:'icon-print'"><a style="text-decoration:none;" href="GESTCART.exe?MK-KEY=016493023" class="easyui-menulink">- Interattivo</a></div>
             <div data-options="disabled:false,iconCls:'icon-print'"><a style="text-decoration:none;" href="GESTCAR1.exe?MK-KEY=016493023" class="easyui-menulink">- Interattivo (formato grande)</a></div>
             <div data-options="disabled:false,iconCls:'icon-cut'"><a style="text-decoration:none;" href="GESTELAB.exe?MK-KEY=016493023" class="easyui-menulink">- Elaborazione periodo</a></div>
             <div data-options="disabled:false,iconCls:'icon-help'"><a style="text-decoration:none;" href="GESTSTAT.exe?MK-KEY=016493023" class="easyui-menulink">- Situazione Ente</a></div>
             <div data-options="disabled:false,iconCls:'icon-ok'"><a style="text-decoration:none;" href="STAMCART.exe?MK-KEY=016493023" class="easyui-menulink">- Stampa cartellini</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="STAMCOMP.exe?MK-KEY=016493023" class="easyui-menulink">- Stampa fogli complementari</a></div>
             <div data-options="disabled:false,iconCls:'icon-sum'"><a style="text-decoration:none;" href="STAMCRED.exe?MK-KEY=016493023" class="easyui-menulink">- Stampa riepilogo recuperi</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTVEDI.exe?MK-KEY=016493023" class="easyui-menulink">- Visualizzazione</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTELIN.exe?MK-KEY=016493023" class="easyui-menulink">- Elaborazione indennita'</a></div>
             <div data-options="disabled:false,iconCls:'icon-lock'"><a style="text-decoration:none;" href="GESTREPE.exe?MK-KEY=016493023" class="easyui-menulink">- Elaborazione reperibilita'</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTSTRA.exe?MK-KEY=016493023" class="easyui-menulink">- Elaborazione straordinario</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTCAPR.exe?MK-KEY=016493023" class="easyui-menulink">- Caricamento profili settimanali</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="STAINAIL.exe?MK-KEY=016493023" class="easyui-menulink">- Stampa libro presenze INAIL</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTARCH.exe?MK-KEY=016493023" class="easyui-menulink">- Archivia saldi fine mese</a></div>
             <div data-options="disabled:false,iconCls:'icon-man'"><a style="text-decoration:none;" href="ASSENTI.exe?MK-KEY=016493023" class="easyui-menulink">- Presenti/Assenti</a></div>
             <div data-options="disabled:false,iconCls:'icon-lock'"><a style="text-decoration:none;" href="TURNAZIO.exe?MK-KEY=016493023" class="easyui-menulink">- Elaborazione TURNAZIONE</a></div>
        </div></div>
             <div data-options="disabled:false,iconCls:'icon-help'"><span>- Contatori</span><div>
             <div data-options="disabled:false,iconCls:'icon-more'"><a style="text-decoration:none;" href="GESTRESO.exe?MK-KEY=016493023" class="easyui-menulink">- Contatori saldo mensile</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTSALD.exe?MK-KEY=016493023" class="easyui-menulink">- Contatori causali</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTRIEP.exe?MK-KEY=016493023" class="easyui-menulink">- Visualizza contatori</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTSAL1.exe?MK-KEY=016493023" class="easyui-menulink">- Saldo voci matricola</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTACCA.exe?MK-KEY=016493023" class="easyui-menulink">- Accantonamenti voci</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTMAXI.exe?MK-KEY=016493023" class="easyui-menulink">- Contatori singola causale</a></div>
        </div></div>
             <div data-options="disabled:false,iconCls:'icon-filter'"><span>- Giustificativi</span><div>
             <div data-options="disabled:false,iconCls:'icon-cancel'"><a style="text-decoration:none;" href="GESTGIUS.exe?MK-KEY=016493023" class="easyui-menulink">- Giustificativi</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTMAS1.exe?MK-KEY=016493023" class="easyui-menulink">- Giustificazione di massa</a></div>
             <div data-options="disabled:false,iconCls:'icon-cut'"><a style="text-decoration:none;" href="CARIGIUS.exe?MK-KEY=016493023" class="easyui-menulink">- Caricamento da WEB</a></div>
        </div></div>
             <div data-options="disabled:false,iconCls:'icon-search'"><span>- Liquidazioni</span><div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTLIQU.exe?MK-KEY=016493023" class="easyui-menulink">- Inserimento e variazione</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTLIQ1.exe?MK-KEY=016493023" class="easyui-menulink">- Situazione totale liquidazioni</a></div>
          </div></div>
 </div>
<!--  <div id="mm3" style="width:300px;">
             <div data-options="disabled:false"><span>- Cartellino</span><div>
             <div data-options="disabled:false,iconCls:'icon-print'"><a style="text-decoration:none;" href="GESTCART.exe?MK-KEY=016493023" class="easyui-menulink">- Interattivo</a></div>
             <div data-options="disabled:false,iconCls:'icon-print'"><a style="text-decoration:none;" href="GESTCAR1.exe?MK-KEY=016493023" class="easyui-menulink">- Interattivo (formato grande)</a></div>
             <div data-options="disabled:false,iconCls:'icon-cut'"><a style="text-decoration:none;" href="GESTELAB.exe?MK-KEY=016493023" class="easyui-menulink">- Elaborazione periodo</a></div>
             <div data-options="disabled:false,iconCls:'icon-help'"><a style="text-decoration:none;" href="GESTSTAT.exe?MK-KEY=016493023" class="easyui-menulink">- Situazione Ente</a></div>
             <div data-options="disabled:false,iconCls:'icon-ok'"><a style="text-decoration:none;" href="STAMCART.exe?MK-KEY=016493023" class="easyui-menulink">- Stampa cartellini</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="STAMCOMP.exe?MK-KEY=016493023" class="easyui-menulink">- Stampa fogli complementari</a></div>
             <div data-options="disabled:false,iconCls:'icon-sum'"><a style="text-decoration:none;" href="STAMCRED.exe?MK-KEY=016493023" class="easyui-menulink">- Stampa riepilogo recuperi</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTVEDI.exe?MK-KEY=016493023" class="easyui-menulink">- Visualizzazione</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTELIN.exe?MK-KEY=016493023" class="easyui-menulink">- Elaborazione indennita'</a></div>
             <div data-options="disabled:false,iconCls:'icon-lock'"><a style="text-decoration:none;" href="GESTREPE.exe?MK-KEY=016493023" class="easyui-menulink">- Elaborazione reperibilita'</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTSTRA.exe?MK-KEY=016493023" class="easyui-menulink">- Elaborazione straordinario</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTCAPR.exe?MK-KEY=016493023" class="easyui-menulink">- Caricamento profili settimanali</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="STAINAIL.exe?MK-KEY=016493023" class="easyui-menulink">- Stampa libro presenze INAIL</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTARCH.exe?MK-KEY=016493023" class="easyui-menulink">- Archivia saldi fine mese</a></div>
             <div data-options="disabled:false,iconCls:'icon-man'"><a style="text-decoration:none;" href="ASSENTI.exe?MK-KEY=016493023" class="easyui-menulink">- Presenti/Assenti</a></div>
             <div data-options="disabled:false,iconCls:'icon-lock'"><a style="text-decoration:none;" href="TURNAZIO.exe?MK-KEY=016493023" class="easyui-menulink">- Elaborazione TURNAZIONE</a></div>
        </div></div>
             <div data-options="disabled:false,iconCls:'icon-help'"><span>- Contatori</span><div>
             <div data-options="disabled:false,iconCls:'icon-more'"><a style="text-decoration:none;" href="GESTRESO.exe?MK-KEY=016493023" class="easyui-menulink">- Contatori saldo mensile</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTSALD.exe?MK-KEY=016493023" class="easyui-menulink">- Contatori causali</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTRIEP.exe?MK-KEY=016493023" class="easyui-menulink">- Visualizza contatori</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTSAL1.exe?MK-KEY=016493023" class="easyui-menulink">- Saldo voci matricola</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTACCA.exe?MK-KEY=016493023" class="easyui-menulink">- Accantonamenti voci</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTMAXI.exe?MK-KEY=016493023" class="easyui-menulink">- Contatori singola causale</a></div>
        </div></div>
             <div data-options="disabled:false,iconCls:'icon-filter'"><span>- Giustificativi</span><div>
             <div data-options="disabled:false,iconCls:'icon-cancel'"><a style="text-decoration:none;" href="GESTGIUS.exe?MK-KEY=016493023" class="easyui-menulink">- Giustificativi</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTMAS1.exe?MK-KEY=016493023" class="easyui-menulink">- Giustificazione di massa</a></div>
             <div data-options="disabled:false,iconCls:'icon-cut'"><a style="text-decoration:none;" href="CARIGIUS.exe?MK-KEY=016493023" class="easyui-menulink">- Caricamento da WEB</a></div>
        </div></div>
             <div data-options="disabled:false,iconCls:'icon-search'"><span>- Liquidazioni</span><div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTLIQU.exe?MK-KEY=016493023" class="easyui-menulink">- Inserimento e variazione</a></div>
             <div data-options="disabled:false"><a style="text-decoration:none;" href="GESTLIQ1.exe?MK-KEY=016493023" class="easyui-menulink">- Situazione totale liquidazioni</a></div>
          </div></div>
 </div>
 <div id="mm4" style="width:300px;">
          </div></div>
 </div>
 <div id="mm5" style="width:300px;">
          </div></div>
 </div>
  -->
    </div>
    </body>
</html>
