<!DOCTYPE html>
<html>  
  <head>         
    <meta charset="UTF-8">         
    <title>Elenco funzioni
    </title>             
    <link rel="stylesheet" type="text/css" href="/openpa/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/openpa/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/openpa/easyui/demo/demo.css">
    <script type="text/javascript" src="/openpa/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/openpa/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/openpa/easyui/locale/easyui-lang-it.js"></script>


<script type="text/javascript">
    $(function(){
    $('#open_form').on('submit', function(e){

    if ($(this).form('validate')){
     return true;
     }
        return false;
    })
    })
</script>



</head>  
        <body>
    
        <form id="open_form" name="open_form" method="post" action="/cgi-open/openreta.exe">
        

        <div id="w" class="easyui-panel" title="Tabella qualifiche" 
             data-options="iconCls:'icon-edit',collapsible:false,closable:false,minimizable:false,maximizable:true"
		     style="width:100%;height:105%;padding:20px;"> 
         
        
        <div>
        

        <input class="easyui-textbox" label="Ente" iconWidth="28" style="width:45%;height:34px;padding:10px;" data-options="disabled:true, value:
        'ENTE'
        ">                 
        <input class="easyui-textbox" label="Utente" iconWidth="28" style="width:20%;height:34px;padding:10px;" data-options="disabled:true, value:
        'UTENTE'
         ,labelAlign:'center'">                 
        <input class="easyui-textbox" label="Accesso" iconWidth="28" style="width:15%;height:34px;padding:10px;" data-options="disabled:true, value:
        'OGGI'
         ,labelAlign:'center'">                 
        
        <input class="easyui-textbox" label="Scadenza sessione" iconWidth="28" style="width:15%;height:34px;padding:10px;" data-options="disabled:true, value:
         'SCADE'
         ,labelAlign:'center'">                 
        
        
        </div>
        
        <div style="margin:20px 0;"></div>


            <div title="Dati qualifica" style="padding:10px">
            <font color="blue">
        
          <fieldset>
          
            <div style="text-align:left;padding:15px 0">

            <input class="easyui-textbox" label="Descrizione" name="DESC-QUAL-007" prompt="Denominazione" style="width:70%;height:34px;padding:10px;" data-options="labelWidth:'20%',required:true,missingMessage:'Campo obbligatorio' ,value:
            'DESCRIZIONE'
            ">
          </div>
          
                
    
        <div style="margin-bottom:20px">
            <select class="easyui-combogrid" name="CONTO-007" style="width:75%" data-options="value:
		  'LISTA'
		   ,remoteSort:false,            
			panelWidth: 500,
                    idField: 'CODICE',
                    textField: 'CODICE',
                    url: '/openpa/files/arkqual.json',
                    method: 'get',
                    columns: [[
                        {field:'CODICE',title:'Codice SICO',width:'20%',sortable:true},
                        {field:'DESCRIZ',title:'Descrizione',width:'80%',sortable:true}
                                    ]],
                    fitColumns: true,
                    label: 'Seleziona la codifica SICO opportuna:',labelWidth:'50%',
                    labelPosition: 'top',
					labelPosition: 'left'
                ">
            </select>
        
                      
        </fieldset>
            </font>
        
            </div>
			
			

            <input name="MK-KEY" size="1" style="visibility: hidden" value=
            "SECTION"
            >                                                                                                             
       
            
            <div style="text-align:center;padding:15px 0">

             
            <button class="easyui-linkbutton"  onclick="return confirm('Confermi la memorizzazione dei dati?')" type="submit" data-options="iconCls:'icon-ok'" style="padding:5px 0px;width:15%; margin-left:20px">Salva</button>
			
			 
			 <a href="openta07.exe?MK-KEY="/PROVA.EXE"
                  class="easyui-linkbutton"  data-options="iconCls:'icon-undo'" style="padding:5px 0px;width:15%; margin-left:20px"> <span style="font-size:14px;">Indietro</span></a>  
            
            <a href="#" class="easyui-linkbutton"  onclick="return location.reload(true)" data-options="iconCls:'icon-reload'" style="padding:5px 0px;width:15%; margin-left:20px"> <span style="font-size:14px;">Ricarica</span></a> 
            
     </div>
       
        </form> 
      
        </body>
        </html>
   
       